.album_show {
  background-color: $gray;
  font-family: $body-font;
  min-height: 60em;

  .row {
    background-color: $light-purple;
    margin: 0;
    min-width: 100%;
  }

  a {
    font-size: 1.8em;
    color: $dark-purple;
    margin-right: 0.1em;
  }

  a:hover {
    color: $med-blue;
  }

  h1 {
    font-size: 1.8em;
    color: $dark-purple;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }


  .img-tile {
    padding: 0;

    form {
      position: absolute;

      input[type="submit"] {
        color: red;
      }
    }
  }
}

.clearing-container {
  .clearing-close {
    color: $light-purple;
    font-size: 3em;
  }

  .clearing-close:hover {
    color: $med-blue;
  }

  .clearing-caption {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

