.album_edit {
	.big-label {
		font-size: 1.3em;
	}

	label {
		color: $white;
		font-size: 1em;

	}

	.long-label {
		white-space: nowrap;
	}

	input[type="submit"]:hover {
		color: $light-purple;
		background-color: $med-blue;
	}

	input[type="submit"] {
		color: $light-purple;
		background-color: $dark-purple;
		font-size: 1em;
		display: block;
		margin-bottom: 1em;
		border: none;

	}

}