.album_show {
  background-color: $gray;
  font-family: $body-font;
  min-height: 60em;

  .four-buttons {
    font-size: 0.7em;
  }

  #album-show-title p{
    line-height: 120%;
  }

  .row {
    background-color: $light-purple;
    margin: 0;
    min-width: 100%;

    .row {
      margin-bottom: -0.7em;
    }
  }

  a {
    font-size: 1.8em;
    color: $dark-purple;
    margin-right: 0.1em;
  }

  a:hover {
    color: $med-blue;
  }

  h1 {
    font-size: 1.8em;
    color: $dark-purple;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  #share-url-container {
    label {
      color: black;
      font-size: 1em;
    }

    a {
      color: $light-purple;
      background-color: $dark-purple;
      font-size: 1em;
      border: none;
      padding: 0.5em;
    }

    margin-bottom: 1em;
  }


  .img-tile {
    padding: 0;

    form {
      position: absolute;

      .button {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.5em;
        border: none;

      }

      .button:hover {
        color: $med-blue;
      }
    }
  }
}

.clearing-container {
  .clearing-close {
    color: $light-purple;
    font-size: 3em;
  }

  .clearing-close:hover {
    color: $med-blue;
  }

  .clearing-caption {
    font-size: 1em;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 1.5em;
  }
}

