.main-section {
  min-height: 50em;
}

.album-tile {
  width: 100%;
  position: relative;
  padding: 0 0 0 0 !important;


  h2 {
    margin: 0px;
  }

  .title {
    position: absolute;
    bottom: 0px;
    font-size: 0.7em;
    width: 100%;
    line-height: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding-left: 0.7em;
  }

  .img-count {
    margin-top: 0;
    position: absolute;
    font-size: 1em;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding-left: 1em;
  }
}

.img-tile {
    form {
      position: absolute;

    }
}
