.insta-add{
  background-color: $gray;
  font-family: $body-font;
  min-height: 60em;

  .img-tile {
    padding: 0;

    form {
      position: absolute;

      input[type="submit"] {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        font-size: 1.5em;

      }

      input[type="submit"]:hover {
        color: $med-blue;
      }
    }
  }
}