.login {
	background-color: $gray;
  min-height: 60em;

  .intro_blurb {
  	text-align: center;
  	h3 {
  		color: $light-purple;
  		margin-top: -1em;
  	}
  	p {
  		color: black;
  	}
  }

  .login-form {
  	h2 {
  		color: $light-purple;
  	}

  	label {
  		color: black;
  	}
  }

  input[type="submit"]:hover {
		color: $dark-purple;
		background-color: $light-purple;
	}

	input[type="submit"] {
		color: $light-purple;
		background-color: $dark-purple;
		font-size: 1em;
		display: block;
		margin-bottom: 1em;
		border: none;
	}

	a {
		color: $light-purple;
		background-color: $dark-purple;
		font-size: 1em;
		padding: 0.5em;

	}

	a:hover {
		color: $dark-purple;
		background-color: $light-purple;
	}
}