.user_new {
	background-color: $med-purple;
  min-height: 60em;

  h2 {
		color: $dark-purple;
		margin-top: 0;
	}

	label {
  		color: $white;
  		font-size: 1.3em;
  	}

	input[type="submit"] {
		color: $light-purple;
		background-color: $dark-purple;
		font-size: 1em;
		display: block;
		margin-bottom: 1em;
		border: none;
	}

  input[type="submit"]:hover {
		color: $light-purple;
		background-color: $med-blue;
	}


	a {
		color: $light-purple;
		background-color: $dark-purple;
		font-size: 1em;
		padding: 0.5em;

	}

	a:hover {
		color: $light-purple;
		background-color: $med-blue;
	}
}