<% if @album.images.first %>
  <li><%= link_to "#{@album.title} #{cl_image_tag(@album.images.first.location, :width => 100, :height => 100, :crop => :thumb)} #{@album.images.count} images".html_safe, album_path(@album) %></li>
  <% else %>
    <li><%= link_to "#{@album.title} #{@album.images.count} images", album_path(@album) %></li>
<% end %>
