<h1><%= @album.title %></h1>
<p>Description: <%= @album.description %></p>
<p>Creator: <%= @album.creator.username %></p>
<p>Album Tag:
        <% if @album.tag %>
          #<%= @album.tag %>
        <% else %>
          (none)
        <% end %>
</p>
