<h1><a href="#created">My Albums</a></h1>
<ul id="my-album-list" class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
  <% @owned_albums.each do |album| %>
    <% @album = album %>
    <%= render "album_list" %>
  <% end %>
</ul>

<h1><a href="#plopped">Albums I've Added Images To</a></h1>
<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
  <% @albums_added_images_to.each do |album| %>
    <% @album = album %>
    <%= render "album_list" %>
    <% end %>
</ul>

<h1><a href="#liked">Albums I've Liked</a></h1>
<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
  <% @fav_albums.each do |album| %>
    <% @album = album %>
    <%= render "album_list" %>
  <% end %>
</ul>

