<% content_for :title, "Albums" %>

<div class="album_list">
  <h1><a href="#created">Created</a></h1>
  <ul id="my-album-list" class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
    <% if @owned_albums.length == 0 %><p>You haven't created any albums yet!</p><% end %>
    <% @owned_albums.each do |album| %>
      <% @album = album %>
      <%= render "album_list" %>
    <% end %>
  </ul>

  <h1><a href="#plopped">Plopped To</a></h1>
  <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
    <% if @albums_added_images_to.length == 0 %><p>You haven't plopped an image to an album yet!</p><% end %>
    <% @albums_added_images_to.each do |album| %>
      <% @album = album %>
      <%= render "album_list" %>
      <% end %>
  </ul>

  <h1><a href="#liked">Liked</a></h1>
  <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
    <% if @fav_albums.length == 0 %><p>You haven't liked any albums yet!</p><% end %>
    <% @fav_albums.each do |album| %>
      <% @album = album %>
      <%= render "album_list" %>
    <% end %>
  </ul>
</div>
