<div class="about">

  <section class="about_blurb">
    <%= image_tag("Photoplop_Logo.png", size: "350x150", alt: "photoplop logo") %>
    <h3>Snap It. Plop It. Share It.</h3>
    <p>Build photo albums with your <%= group %>. </p>
  </section>


  <h3>About photoplop</h3>
  <p>Photoplop is the newest way to collaboratively build albums with others. Create an album and upload your images from your device, a URL, or from any Instagram tag you choose for your album. Whether you're looking to gather a great set of wallpapers with your cohortmates, or your friends need a place to gather all their photos from your last vacation, photoplop is your mobile-first solution.</p>


  <section>
  <h3>Team photoplop</h3>
  <p>Photoplop was built as a final project during our time at <a href='http://devbootcamp.com/'>Dev Bootcamp</a> and was created in less than eight days. We're very proud of our work and think it provides a wonderful capstone for our last few months of training at Dev Bootcamp. We'd love to hear your feedback and are always looking for more opprtunities to learn.</p>
  <div id="us" class="row">
    <div class="small-4 columns">
      <h2>Kara Carrell</h2>
      <img src="http://res.cloudinary.com/photo-plop/image/upload/e_shadow/v1427949572/n0nddnzvo2bknq5lsu1d.png">
      <p><a href="http://www.twitter.com/KaraAJC">@KaraAJC</a></p>
    </div>
    <div class="small-4 columns">
      <h2>Ty Kowalewski</h2>
      <img src="http://res.cloudinary.com/photo-plop/image/upload/e_shadow/v1427949547/mrjnkiz90kb4t505kq4o.jpg">
      <p><a href="http://www.twitter.com/tykowale">@tykowale</a></p>
    </div>
    <div class="small-4 columns">
      <h2>Stephanie Marx</h2>
      <img src="http://res.cloudinary.com/photo-plop/image/upload/e_shadow/v1427949507/chcgly4wgdhrsqgzhdqo.jpg">
      <p><a href="http://www.twitter.com/melissid">@melissid</a></p>
    </div>
  </div>
  </section>
</div>
